body {
	background-color: #95057D;
}

/* @group Nav Bar*/
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  position: fixed; /* Make it stick, even on scroll */
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #57034A;
  font-family: Optima, sans-serif;
}

.topnav a {
  float:  left;
  display: inline-block;
  colour: white;
  text-align: center;
  padding: 14px 16px;
  width: 20%;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #310129;
}

.topnav a.active {
  border: white;
  border-width: 2px;
  color: white;
}

@media screen and (max-width: 500px) {
  .topnav a {
	float: none;
	display: block;
	width: 100%;
  }
}

/* @end */


/* @group Headers*/
h1 {
	font-family: Optima, sans-serif;
}


h2 {
	font-family: Optima, sans-serif;
}


h3 {
	font-family: Optima, sans-serif;
}

/* @end */


/* @group Content*/

#content {
	background-color: ;
	display: block;
	min-height: 300px;
	max-width: 600px;
	padding: 25px 65px 50px 210px;
}

p {
	color: black;
	font-family: Optima, sans-serif;
}

/* @end */