*
{
	margin: 0;
}


/* @group Nav Bar*/

head {
	background: #57034A;
	margin-left: 0;
	margin-top: 0;
}

#nav-wrapper {
    background: #57034A;
    width: 100%;
    height: 300px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    font-family: Optima, sans-serif;
}

    
.logo {
	text-align: centre;
    width: 300px;
}


.menu {
	flex: 1;
    float:right;
    vertical-align: center;
    background-color: #57034A;
    width: 100%;
    margin-left: 50px;
}


.menu ul li {
    display: inline-block;
    text-decoration: none;
    font-family: Optima, sans-serif;
    list-style-type: none;
    float: left;
    width: 20%;

}

.menu a {
	    text-decoration: none;
	 font-family: Optima, sans-serif;
        font-size: 24px;
        color: white;
}


.menu a:hover {
  color:orange;
}

.menu a.active{
  color:orange;
  font-weight: bold;
}


/* @end */


/* @group Headers*/
h1 {
	font-family: Optima, sans-serif;
	text-align: centre;
	margin-left: 20px;
	padding: 5px;
}


h2 {
	font-family: Optima, sans-serif;
	margin-left: 20px;
	padding:  5px;
}


h3 {
	font-family: Optima, sans-serif;
	margin-left: 20px;
	padding: 5px;
}

/* @end */


/* @group Content*/

body {
	background-color: #95057D;
	margin-left: 20px;
}


p {
	color: black;
	font-family: Optima, sans-serif;
	margin-left: 20px;
	padding: 5px;
}

form {
	color: black;
	font-family: Optima, sans-serif;
	margin-left: 20px;
	padding: 5px;
}

/* @end */
